.line_result style="position: absolute; display: block; width: #{line.width }; height: #{line.height}; border-top: #{line.top.to_i}px; border-bottom: #{line.bottom.to_i}px; border-left: #{line.left.to_i}px; border-right: #{line.right.to_i}px; top: #{current_ord_y(line, params)}; left: #{ current_ord_x(line, params) }; border-color: #666; border-style: solid;"