.span2 style="margin-bottom: 20px !important;"
	= image_tag slide.image, width: 100, height: 100 
	br
	= link_to "Редактировать", edit_page_slide_path(slide.page, slide), class: 'btn btn-mini btn-inverse'
