



.well style="width: 100% !important; height: 100% !important; position: fixed; top: 59px; left: 0; display: block; overflow-y: scroll"
	.inline
		= link_to edit_page_path(@page_slide.page), class: 'btn btn-inverse' do
			i.icon-arrow-left&nbsp;
			|Назад
		h1 style="display: inline" &nbsp; Редактировать слайд
		= link_to 'Fullscreen', url_for(fullscreen: true), class: 'btn btn-inverse' 
	hr
	== render 'form'

	
br
br


- if params[:fullscreen]
  coffee:
    $(document).ready ->
      $('div.drago').draggable
        drag: ->
          $(this).find('.x_full').val($(this).css('left'))
          $(this).find('.y_full').val($(this).css('top'))
        
      $('.nested_hint')
        .draggable
          drag: ->
            $(this).find('.x_full').val($(this).css('left'))
            $(this).find('.y_full').val($(this).css('top'))
        .resizable
          handles: "se, sw",
          resize: ->
            $(this).find('.width_ord').val($(this).css('width'))
            $(this).find('.height_ord').val($(this).css('height'))


      $('.line')
        .draggable
          drag: ->
            $(this).find('.x_full').val($(this).css('left'))
            $(this).find('.y_full').val($(this).css('top'))
        .resizable
          handles: "se, sw",
          resize: ->
            $(this).find('.width_ord').val($(this).css('width'))
            $(this).find('.height_ord').val($(this).css('height'))
      $(document).ready ->
        $('.hint')
          .draggable
            drag: ->
              $(this).find('.x_full').val($(this).css('left'))
              $(this).find('.y_full').val($(this).css('top'))
              $(this).find('.btn-success').removeClass('btn-success').stop().addClass('btn-warning')
          .resizable
            resize: ->
              $(this).find('.width_ord').val($(this).css('width'))
              $(this).find('.height_ord').val($(this).css('height'))
              $(this).find('.btn-success').removeClass('btn-success').stop().addClass('btn-warning')

-else 
  coffee:
    $(document).ready ->

      $('div.drago').draggable
        drag: ->
          $(this).find('.x_ord').val($(this).css('left'))
          $(this).find('.y_ord').val($(this).css('top'))
        
      $('.nested_hint')
        .draggable
          drag: ->
            $(this).find('.x_ord').val($(this).css('left'))
            $(this).find('.y_ord').val($(this).css('top'))
        .resizable
          handles: "se, sw",
          resize: ->
            $(this).find('.width_ord').val($(this).css('width'))
            $(this).find('.height_ord').val($(this).css('height'))


      $('.line')
        .draggable
          drag: ->
            $(this).find('.x_ord').val($(this).css('left'))
            $(this).find('.y_ord').val($(this).css('top'))
        .resizable
          handles: "se, sw",
          resize: ->
            $(this).find('.width_ord').val($(this).css('width'))
            $(this).find('.height_ord').val($(this).css('height'))
        $('.hint')
          .draggable
            drag: ->
              $(this).find('.x_ord').val($(this).css('left'))
              $(this).find('.y_ord').val($(this).css('top'))
              $(this).find('.btn-success').removeClass('btn-success').stop().addClass('btn-warning')
          .resizable
            resize: ->
              $(this).find('.width_ord').val($(this).css('width'))
              $(this).find('.height_ord').val($(this).css('height'))
              $(this).find('.btn-success').removeClass('btn-success').stop().addClass('btn-warning')