.menu {
  margin-top: 60px !important;
  pih: pih-pih;
}

.hint .title h3 {
	font-size: 16px !important;
}

.hint .content {
	font-size: 14px !important;
}

.hint .content span {
  font-size: 14px !important;
}