div.persp {
	width: 600px;
	height: 400px;

}

.menu {
	margin-top: 60px !important;
  margin-left: -50px;
}

ul.menu li.drag {
  margin-top: 70px;
}

.scrolled-container {
  margin-top: 260px;
}


ol.carousel-indicators {
  bottom: -135px;
}

.hint .title {
	font-size: 16px !important;
}

.hint .content {
	font-size: 14px !important;
}

.hint .content span {
  font-size: 14px !important;
}