.menu_item .title {
	line-height: 30px !important;
}

.menu_item {
	width: 250px !important;
	height: 87px !important;
	background-repeat: repeat-x;
	background-size: contain;
}

.menu_item span {
	font-size: 30px !important;
	padding-top: 10px;
}

div.persp {
	width: 580px;
	height: 340px;

}

ul.menu li.drag {
	/*margin-top: 100px !important;*/
}


div.slide {
	margin-left: 200px;
	left: 300px;
	/*top: -160px;*/
}

div.persp {
	width: 680px;
	height: 400px;
}



#main-content #left_content #main-block .title {
	height: 60px !important;
	background-size: contain;

}

#main-content #left_content #main-block .title h3 {
	font-size: 30px !important;
	line-height: 60px !important;
}

#main-content #left_content #main-block {
	min-width: 1000px;
	min-height: 800px;
	background-size: contain;
}


#main-content #left_content #main-block .shortcode-toggle h4 a {
	width: 960px;
}


#main-content #right_content #img-block {
	width: 530px !important;
	height: 350px !important;
	right: 30px !important;
	top: 0px;
}

#main-content #right_content #menu-links {
	height: 340px;
	top: 320px;
	background-size: contain;
	font-size: 23px;
	width: 530px !important;
	right: 28px !important;
	margin-top: 140px !important;
}

#main-content #right_content #menu-links ul {
	height: 330px;
}


#main-content #right_content #img-block .slide-links {
	bottom: -80px;
	width: 530px !important;
}

#main-content #left_content #main-block .content {
	height: 735px;
	top: 61px !important;
}


#main-content #left_content {
	right: 600px;
}

#main-content #right_content #img-block .slides-block {
	width: 530px !important;
	height: 350px !important;
}


.scrolled-container {
	/*width: 1800px !important;*/
	/*height: 880px !important;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*margin-top: 0px !important;*/
}

.container_normative .normative {
	width: 923px !important;
	height: 160px;
	font-family: 'pf_dindisplay_proregular' !important;

}

.container_normative .normative .title {
	width: 100%;
	height: 60px !important;
	background-size: contain;
	font-size: 36px !important;

}

.container_normative .normative .content {
	top: 50px !important;
	line-height: 25px;
	font-size: 23px !important;
}

.vert {
	line-height: 60px !important;
}

.container_normative {
	/*right: 190px !important;*/
  right: auto;
  left: 100px;
  margin: auto;
	margin-bottom: 60px;
  width: 1200px !important;
}


#slide_plane {
	margin-top: 240px !important;
}

#main-content #left_content #main-block .shortcode-toggle .toggle-content {
	width: 940px;
}



.menu {
	margin-top: 10px !important;
	width: 1050px;
}


ol.carousel-indicators {
	/*bottom: -230px !important;*/
}


div#nested_form {
	top: 140px !important;
}

.container_normative .normative .slide_normative {
	height: 166px !important;
}


#main-content #right_content #img-block .slide-links ul li {
	width: 130px;

}



#main-content #right_content #menu-links ul li {
	background-repeat: repeat-x;
	/*height: 31px;*/
	font-size: 23px;
	width: 490px !important;
}

.carousel-inner>.item {
	width: 530px !important;
	height: 350px !important;
}


.hint .title {
	font-size: 24px !important;
}

.hint .content {
	font-size: 18px !important;
}

.hint .content span {
	font-size: 18px !important;
}

<<<<<<< HEAD

.menu3d_element {
  width: 800px;
  height: 520px;
  border: 1px solid #aaa;
  background: #fee;
  -webkit-transform: rotateX(60deg) perspective(600px);
  transition-duration: 2500ms;
  position: absolute;
  top: -1120px;
  left:40%;
  right: auto;
  background-image: url('/system/pages/slides/000/000/004/original/Navi.jpg?1371137834');
  background-size: cover;
  z-index: 400;
  box-shadow: 0px 0px 10px #aaa;
  -moz-transition-duration: 2500ms;
  transform: rotateX(50deg);
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}


.perspective {
  -webkit-perspective: 900px; 
  position: relative; 
  perspective: 900px; 
=======
li.wrap {
	margin-top: 20px;
>>>>>>> 45145e5b6398a6b22fc03b856488f445eef0cb5e
}