div.slide {
	-webkit-perspective: 600px;
	perspective: 600px;

}

div.persp {
	-webkit-transition-duration: 2500ms;
	-webkit-transform: rotateX(50deg) perspective(600px);
	transition-duration: 2500ms;
	-moz-transition-duration: 2500ms;
	transform: rotateX(50deg);

	border-spacing: 50px;

	background-size: 100%;
	padding: 10px;
	box-sizing: border-box; 
	-moz-box-sizing: border-box;

}

.drag {
	-webkit-perspective: 500px;
	padding-top: -100px;
}


html {
}

#btn_return {
	left: 10px !important;
	bottom: 12px !important;
}