div.slide {
	-webkit-perspective: 1100px;
	transform: perspective(1100px) ;
}

div.persp {
	-webkit-transition-duration: 350ms;
	-webkit-transform: rotateX(50deg);
	transition-duration: 1450ms;
	transform: perspective(1100px) rotateX(50deg);
	width: 480px;
	height: 300px;
	background-size: 100%;
	padding: 10px;
	box-sizing: border-box; 
	-moz-box-sizing: border-box;

}

.drag {
	-webkit-perspective: 500px;
	padding-top: -100px;
}

.menu_item {
	display: block;
	// position: relative;
	vertical-align: middle;
	text-align: left;
	padding-left: 15px;
	width: 210px !important;
	height: 67px !important;
	border: 3px solid #343;
	border-radius: 10px;
	background: url('/assets/menu_item_bg.gif');
}
.menu_item	.title {
		vertical-align: middle !important;
}

.menu_item	a:hover { 
		text-decoration: none !important;
}

.menu_item	span {
		vertical-align: middle !important;
		font-family: 'pf_dindisplay_proregular';
		
		font-size: 20px;
}
.menu_item .arrow {
		position: absolute;
		right: -40px;
		top: 10px;
}
.menu_item .arrow2 {
		position: absolute;
		right: -35px;
		top: 22px;
}

.back {
	position: fixed;
	bottom: 0;
	left: 0;
}

.menu {
	overflow: auto;

}

.menu::-webkit-scrollbar{
		width: 0;
	}

.menu-margin-top {
	margin-top: 0px !important;
}

.jcarousel-item {
	width: auto;
	height: auto;
}

li.drag {
	margin-left: 0 !important;
	left: 0 !important;
}