.scrolled-container {
  display: table;
  height: 100%;
  margin-top: 0;
  width: 100%;
}

#slide_plane {
  display: table-row !important;
  margin: auto;
}

.carousel-inner {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}