.wiki2d .slide .persp {
  -webkit-transition-duration: initial !important;
  -webkit-transform: none !important;
  transition-duration: none !important;
  -moz-transition-duration: none !important;
  transform: none !important;    
}

.wiki2d {
  box-sizing: border-box;
}

.wiki2d .slide {
  top: -90px !important;
}

[class*="span"] {
  /*float: center !important;*/
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
}


.wiki2d .scrolled-container {
  display: table;
  height: 100%;
  margin-top: 0;
  width: 100%;
}

.wiki2d #slide_plane {
  display: table-row !important;
  margin: auto;
}

.wiki2d .carousel-inner {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

/*li.drag {*/
/*   pointer-events: none;
   cursor: default;
*/} 