.nested_hint style="position: absolute;width: #{nested_hint.width}; height: #{nested_hint.height}; top: #{current_ord_y(nested_hint, @fullscreen)}; left: #{current_ord_x(nested_hint, @fullscreen)}; background: rgba(0,0,0,0) !important; border-radius: #{nested_hint.radius}px !important;"
