tr
	td = page.title
	td	= link_to 'Редактировать', edit_page_path(page), class: 'btn btn-mini btn-inverse'
	td	= link_to 'Удалить', page, method: :delete, confirm: 'Вы уверены?', class: 'btn btn-danger btn-mini'
