.fields
	= f.input :title, label: false, placeholder: 'Заголовок'
	= f.input :content, as: :ckeditor, label: false, :input_html => { :toolbar => 'Basic', :namespace => ""}
	= link_to_remove_fields "x", f 