div.slide {
	-webkit-perspective: 1100px;
	transform: perspective(1100px) ;
	position: absolute; 
	left: 300px; 
	top: -110px;
}

div.persp {
	// -webkit-transition-duration: 1350ms;
	// transition-duration: 1450ms;
	
	// -webkit-transform: rotateX(50deg);
	// transform: perspective(1100px) rotateX(50deg);
	width: 380px;
	height: 200px;
	background-size: 100%;
	padding: 10px;
	box-sizing: border-box; 
	-moz-box-sizing: border-box;

}

.drag {
	-webkit-perspective: 500px;
	padding-top: -100px;
}

.menu_item {
	display: block;
	// position: relative;
	vertical-align: middle;
	text-align: left;
	padding-left: 15px;
	width: 210px !important;
	height: 67px !important;
	border: 3px solid #343;
	border-radius: 10px;
	background: url('/assets/menu_item_bg.gif');
	// margin: 10px;

	.title {
		// height: 100%;
		vertical-align: middle !important;
	}

	a:hover { 
		text-decoration: none !important;
	}
	span {
		// margin: 1px;
		vertical-align: middle !important;
		font-family: 'pf_dindisplay_proregular';
		
		// line-height: 25px;
		font-size: 20px;
	}
	.arrow {
		position: absolute;
		right: -40px;
		top: 10px;
	}
	.arrow2 {
		position: absolute;
		right: -35px;
		top: 22px;
	}
}

.back {
	position: fixed;
	bottom: 0;
	left: 0;
}

.menu {
	overflow: visible;

}

.menu::-webkit-scrollbar{
		width: 0;
	}

.menu-margin-top {
	margin-top: 0px !important;
}

.jcarousel-item {
	width: auto;
	height: auto;
}

ul.menu li {
	margin-top: 50px !important;
}