.wiki2d .slide .persp {
  -webkit-transition-duration: none !important;
  -webkit-transform: none !important;
  transition-duration: none !important;
  -moz-transition-duration: none !important;
  transform: none !important;    
}

.wiki2d .slide {
  top: -90px !important;
}